.main-content-container {
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.main-content-header {
    background-color: salmon;
    text-align: center;
    font-size: 50px;
    font-family: 'Architects Daughter', cursive;
    border-radius: 10px;
    color: white; 
    flex: 0;
}

.main-content-content {
    border-radius: 10px;
    flex: 1;
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}

.question-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.question {
    padding: 5px;
    background-color: plum;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 48px;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 20px;
}

input {
    width: 120px;
    height: 40px;
    font-size: 28px;
    background-color: #e6c1e6;
    border-radius: 6px;
    border: 2px solid #888;
    text-align: center;
    margin-right: 10px;
}

.main-content-container button {
    height: 44px;
    font-size: 22px;
    border-radius: 6px;
    padding: 0 18px;
    font-family: 'Architects Daughter', cursive;
}

.correct-answer-counter {
    background-color: yellowgreen;
    flex: 0;
    margin-top: 10px;
    height: auto;
    font-family: 'Architects Daughter', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

