
.master-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
}

.header-wrapper {
    padding: 10px;
}

.master-container > .header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.header {
    background-color: lightpink;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    height: 100px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: table;
    font-family: 'Gloria Hallelujah', cursive;
}

.header span {
    display: table-cell;
    vertical-align: middle;
}

